{% extends "polls/bootstrap.html" %}
{% block content %}
{% if messages %}
    <div class="messages">
        {% for msg in messages %}
            <h1 class="{{ msg.tags }}">{{ msg }}</h1>
        {% endfor %}
    </div>
{% endif %}
{% if latest_question_list %}
    <ul>
        {% for question in latest_question_list %}
            <h2>{{ question.question_text }}</h2>
            {% if question.can_vote %}
                <div>
                    <a href="{% url 'polls:detail' question.id %}">Vote</a>
                </div>
            {% endif %}
            <div>
                <a href="{% url 'polls:results' question.id %}">Results</a>
            </div>
        {% endfor %}
    </ul>
{% else %}
    <p>No polls are available.</p>
{% endif %}
{% endblock %}

