{% extends "polls/bootstrap.html" %}
{% block content %}
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="{% url 'polls:index' %}">Polls</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="{% url 'polls:index' %}">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#foot">Credit</a>
                    </li>
                </ul>

            </div>
        </div>
    </nav>
    {% if messages %}
        <div class="messages">
            {% for msg in messages %}
                <h1 style="margin-left: 60px" class="{{ msg.tags }}">{{ msg }}</h1>
            {% endfor %}
        </div>
    {% endif %}
    <div style="text-align: left;padding:20px;margin:70px">
        <table class="table table-dark table-hover">
            <thead>
            <tr>
                <th scope="col">Polls</th>
                <th scope="col">Vote</th>
                <th scope="col">Results</th>
            </tr>
            </thead>
            <tr>
                {% if latest_question_list %}
                    {% for question in latest_question_list %}
                        <tr>
                            <td>
                                {% if question.was_published_recently %}

                                    <h4>{{ question.question_text }}<span class="badge rounded-pill bg-danger"
                                                                          style="margin-left:40px ;font-size: x-small">New</span>
                                    </h4></td>
                                {% else %}

                                    <h4>{{ question.question_text }}</h4>
                                    </td>
                                {% endif %}
                            {% if question.can_vote %}
                                <td>
                        <span>
                            <button type="button" class="btn btn-light">
                    <a href="{% url 'polls:detail' question.id %}"
                       style="text-decoration: none;color: black">Vote here</a></button>
                </span></td>
                            {% else %}
                                <td>
                                    <span>Cannot Vote</span>
                                </td>
                            {% endif %}
                            <td>
                                <button type="button" type="button" class="btn btn-light">
                    <span>

                <a href="{% url 'polls:results' question.id %}" style="text-decoration: none;color: black">Results</a>
                        </span>
                                </button>
                            </td>
                        </tr>

                    {% endfor %}

                {% else %}
                    <p style="margin-left: 50px">No polls are available.</p>
                {% endif %}
            </tr>
        </table>
    </div>
    <footer class="bg-dark py-5" id="foot">
        <div class="container px-4 px-lg-5">
            <div class="small text-center text-muted">Framework Used ©Bootstrap</div>
        </div>
    </footer>
{% endblock %}

